sudo: required
services:
  - docker
env:
  global:
  - DIST_REPO="f5-sphinx-theme"
  - USER_REPO=$(echo $TRAVIS_REPO_SLUG | cut -f -1 -d / )
  - BUILD_HTML_DIR=$TRAVIS_BUILD_DIR/test-deploy/docs/_build/html
  - S3_DIST_URL="http://d12ecz1n19ym1p.cloudfront.net"

language: python
python:
- '2.7'
before_install:
- git config --global user.email "OpenStack_TravisCI@f5.com"
- git config --global user.name "Travis F5"
install:
- gem install html-proofer
- npm install -g css-validator
- npm install -g broken-link-checker
- pip install -r requirements_test.txt

script:
- css-validator f5_sphinx_theme/static/css/custom.css
- ./test/theme-test.sh
# Set to allow failure, htmlproofer doesn't support HTML5 tags
- htmlproofer --check_html --checks-to-ignore "LinkCheck,ImageCheck,ScriptCheck" --report_invalid_tags --report-script-embeds $TRAVIS_BUILD_DIR/html || true

before_deploy:
- echo "Deploying to ${S3_DIST_URL}/${DIST_REPO}/travis-builds/${USER_REPO}/${TRAVIS_BUILD_NUMBER}/index.html"
deploy:
- provider: s3
  access_key_id: $ARTIFACTS_KEY
  secret_access_key: $ARTIFACTS_SECRET
  bucket: $ARTIFACTS_BUCKET
  skip_cleanup: true
  local_dir: $TRAVIS_BUILD_DIR/html
  upload-dir: ${DIST_REPO}/travis-builds/${USER_REPO}/${TRAVIS_BUILD_NUMBER}
  on:
    all_branches: true
    tags: false
- provider: pypi
  user: $PYPI_USER
  password: $PYPI_PASSWORD
  server: https://pypi.python.org.pypi
  on:
    repo: f5devcentral/f5-sphinx-theme
    tags: true
    condition: $TRAVIS_TAG =~ ^v[0-9]+\.[0-9]+.*

