sudo: required
services:
- docker
env:
  global:
  - DIST_REPO="f5-sphinx-theme"
  - USER_REPO=$(echo $TRAVIS_REPO_SLUG | cut -f -1 -d / )
  - S3_DIST_URL="http://d12ecz1n19ym1p.cloudfront.net"
  - BUILD_HTML_DIR=${TRAVIS_BUILD_DIR}/test-deploy/docs/_build/html
  - BRANCH_DIR=${DIST_REPO}/travis-builds/${USER_REPO}/${TRAVIS_BRANCH}/
  - UPLOAD_DIR="${BRANCH_DIR}$(date +%F)-${TRAVIS_BUILD_NUMBER}"

language: python
python:
- '2.7'
before_install:
- git config --global user.email "OpenStack_TravisCI@f5.com"
- git config --global user.name "Travis F5"
- docker pull f5devcentral/containthedocs
install:
- npm install -g htmlhint
- npm install -g css-validator
- npm install -g broken-link-checker
- pip install -r requirements_test.txt
- pip install twine
script:
- css-validator f5_sphinx_theme/static/css/custom.css
- htmlhint f5_sphinx_theme
- "./scripts/test-docs-docker.sh"
- if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then s3-index-generator -b $AWS_S3_BUCKET -t $BRANCH_DIR -r ${DIST_REPO} -i 'index.html'; fi
after_success:
- if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then printf "View test documentation at ${S3_DIST_URL}/${UPLOAD_DIR}"; fi
deploy:
- provider: script
  on:
    repo: f5devcentral/f5-sphinx-theme
    tags: true
    condition: "$TRAVIS_TAG =~ ^v[0-9]+\\.[0-9]+.*"
  script:
  - "./scripts/deploy.sh"
