sudo: required
services:
- docker
env:
  global:
  - USER_REPO=$(echo $TRAVIS_REPO_SLUG | cut -f -1 -d / )
  - PROJECT_UPLOAD_ROOT="tools/f5-sphinx-theme"
  - BUILD_UPLOAD_ROOT="${PROJECT_UPLOAD_ROOT}/${USER_REPO}_${TRAVIS_BRANCH}"
  - UPLOAD_DIR="${BUILD_UPLOAD_ROOT}/$(date +%F)-${TRAVIS_BUILD_NUMBER}"
  - S3_DIST_URL="http://clouddocs.f5networks.net/"

language: python
python:
  - '2.7.15'
before_install:
  - git config --global user.email "OpenStack_TravisCI@f5.com"
  - git config --global user.name "Travis F5"

install:
  - npm install -g htmlhint
  - npm install -g css-validator
  - npm install -g broken-link-checker
  - pip install -r requirements_test.txt
  - pip install twine
script:
  - css-validator f5_sphinx_theme/static/css/custom.css
  - htmlhint f5_sphinx_theme || true
  - "./test/test-docs-docker.sh"
  - python setup.py sdist bdist_wheel

after_success:
  - if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then printf "View test documentation at ${S3_DIST_URL}/${UPLOAD_DIR}/index.html"; fi

before_deploy:
  # Workaround https://github.com/travis-ci/dpl/issues/1235
  - sudo apt-get update
  - sudo apt-get install -y software-properties-common
  - sudo add-apt-repository ppa:deadsnakes/ppa
  - sudo apt-get install -y python3.7-venv
  - python3.7 -m venv ~/venv
  - source ~/venv/bin/activate

deploy:
  #- provider: script
  #  on:
  #    repo: f5devcentral/f5-sphinx-theme
  #    all_branches: true
  #    condition: $TRAVIS_BRANCH =~ ^v[0-9]+\.[0-9]+\.[0-9]* || $TRAVIS_BRANCH == *"-stable" || $TRAVIS_BRANCH == "master" 
  #  script:
  #  - "./scripts/deploy.sh"
  - provider: pypi
    user: ${PYPI_USER}
    password: ${PYPI_PASSWORD}
    skip_cleanup: true
    distributions: "sdist bdist_wheel"
    on:
      repo: f5devcentral/f5-sphinx-theme
      tags: true
      condition: $TRAVIS_TAG =~ ^v[0-9]+\.[0-9]+\.[0-9]*|^.*-stable$|master
      python: '2.7.15'
