sudo: required
services:
  - docker
env:
  global:
    - DIST_REPO="f5-sphinx-theme"
    - USER_REPO=$(echo $TRAVIS_REPO_SLUG | cut -f -1 -d / )
    - BUILD_HTML_DIR=$TRAVIS_BUILD_DIR/test-deploy/docs/_build/html
    - BRANCH_DIR=${DIST_REPO}/travis-builds/${USER_REPO}/${TRAVIS_BRANCH}/
    - UPLOAD_DIR=${BRANCH_DIR}/$(date +%F)-${TRAVIS_BUILD_NUMBER}
    - COMMITTER_EMAIL=$(git log -1 $TRAVIS_COMMIT --pretty="%cE")
    - PATH=$(export PATH="$PATH:$(pwd)/node_modules/.bin")

notifications:
  email:
    recipients:
      - $COMMITTER_EMAIL
    on_success: always

language: python
python:
  - '2.7'
install:
  - gem install html-proofer
  - npm install -g css-validator
  - npm install -g broken-link-checker
  - npm install --no-optional
  - pip install -r requirements_test.txt
  - pip install twine
  - pip install git+https://github.com/nerdoftech/s3_index_generator.git


script:
  - echo $PATH
  - ls $(pwd)/node_modules/
  - webpack
  - css-validator f5_sphinx_theme/static/css/custom.css
  - ./scripts/theme-test.sh
  # Set to allow failure, htmlproofer doesn't support HTML5 tags
  - htmlproofer --check_html --checks-to-ignore "LinkCheck,ImageCheck,ScriptCheck"
      --report_invalid_tags --report-script-embeds $TRAVIS_BUILD_DIR/html || true

before_deploy:
  - echo "Deploying to ${S3_DIST_URL}/${UPLOAD_DIR}/index.html"
deploy:
  - provider: s3
    access_key_id: $ARTIFACTS_KEY
    secret_access_key: $ARTIFACTS_SECRET
    bucket: $ARTIFACTS_BUCKET
    skip_cleanup: true
    local_dir: $TRAVIS_BUILD_DIR/html
    upload-dir: $UPLOAD_DIR
    on:
      all_branches: true
      tags: false
  - provider: script
    script:
      - AWS_ACCESS_KEY_ID=$ARTIFACTS_KEY AWS_SECRET_ACCESS_KEY=$ARTIFACTS_SECRET
          s3-index-generator -b $ARTIFACTS_BUCKET -t $BRANCH_DIR -r ${DIST_REPO} -i 'index.html'
    on:
      all_branches: true
      tags: false
  - provider: script
    on:
      repo: f5devcentral/f5-sphinx-theme
      tags: true
      condition: $TRAVIS_TAG =~ ^v[0-9]+\.[0-9]+.*
    script:
      - ./scripts/deploy.sh
